
.flex-container {
    display:flex;
}

.rgalign{
    display:flex;
    flex: auto;
    justify-content: flex-end;
    padding-left:6%;
    padding-right:6%;
}

.hdlinks {
    padding: 5px;
}

.logo {
    font-size: 25px;
}

/* div {
    border: 1px solid brown;
} */

.toph {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left:6%;
    padding-right:6%;
}

.mid {
    height: fit-content;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 9%;
    padding-bottom: 9%;
    /* justify-content:space-around; */
}

.button {
    background-color: #3882F6;
    color:white;
    width: fit-content;
    border-radius:5px;
    padding-left: 10%;
    padding-right: 10%;
}

.temp {
    flex:1;
    
}

.mbot {
    background-color: white;
    color:black;
    padding-top: 1%;
    padding-bottom: 3%;
    justify-content:space-around;
    align-items: flex-start;
    /* gap:5%; */
}

.fillimg {
    background-color: #E5E7EB;
    border-radius: 20px;
    color:black;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.empty {
    height: 240px;
    width: 240px;
    border-radius: 23px;
    border: 2px solid #3882F6;
    flex:auto;
}

.large {
    font-size: 45px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 10%;
}

.bot {
    background-color: white;
    height:fit-content;
    padding: 4%;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #3882F6;
    color:white;
    width: 100%;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 11px;
}

.nbutton {
    border-radius: 10px;
    padding: 2% 5%;
    border: 2px solid white;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
}
